<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Пересвет</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="styles/style.css" />
    <link type="text/css" rel="stylesheet" href="styles/skin.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="js/initSlider.js"></script>

</head>

<body class="home">
<div id="wrap">
    <div id="head"> <img src="images/Logo.png" />
        <div id="nav">
            <ul class="menu">
                <li class="current_page_item"><a href="index.html">Главная</a></li>
                <li><a href="portfolio.html">Галерея</a></li>
                <li><a href="articles.html">События</a></li>
                <li><a href="contact.html">Контакты</a></li>
                <li><a href="Cal.html" id="Cal"> <img src="images/calendar1.png"></a></li>
            </ul>
        </div>
        <!--end nav-->
    </div>
    <!--end header-->
    <div id="featured-section">

        <!--end circles-->
        <div id="image-slider">
            <ul id="mycarousel" class="jcarousel-skin-tango">
                <li class="first"><a href="#"><img width="280" height="190" src="images/2.jpg" alt="" /></a></li>
                <li><a href="#"><img width="280" height="190" src="images/3.jpg" alt="" /></a></li>
                <li><a href="#"><img width="280" height="190" src="images/4.jpg" alt="" /></a></li>
                <li class="first"><a href="#"><img width="280" height="190" src="images/5.jpg" alt="" /></a></li>
                <li><a href="#"><img width="280" height="190" src="images/8.jpg" alt="" /></a></li>
                <li><a href="#"><img width="280" height="190" src="images/10.jpg" alt="" /></a></li>
                <li class="first"><a href="#"><img width="280" height="190" src="images/11.jpg" alt="" /></a></li>
                <li><a href="#"><img width="280" height="190" src="images/14.jpg" alt="" /></a></li>
                <li><a href="#"><img width="280" height="190" src="images/12.jpg" alt="" /></a></li>
            </ul>
        </div>
        <!--end image-slider-->
    </div>
    <!--end featured-section-->
    <div id="frontpage-main">

        <div id="frontpage-sidebar1">
            <h3>Серебряный нож</h3>
            <a class="blog-title" href="#">Турнир "Серебряный нож"</a>
            <p class="meta">5 Oct 2024 </p>
            <p>Прошёл турнир "Серебряный нож" , ещё раз убеждаешься, что таким турнирам место быть. Всегда можно посмотреть на новичков в действии, да и старшим тоже есть где проверить свои навыки и способности в универсальном метании. Ведь как не крути, а мы всё-таки метатели. </p>
            <a class="read-more" href="#">Читать &raquo;</a>
            <h3></h3>
            <h3>САМБО</h3>
            <a class="blog-title" href="#">Открытый юношеский турнир</a>
            <p class="meta">12 Oct 2024 </p>
            <p>5 октября в ДК МГСУ, г. Москва прошёл открытый юношеский турнир по САМБО, посвящённый бойцам СВО, на призы кампании STARCO.  </p>
            <a class="read-more" href="#">Читать &raquo;</a>
            <h3></h3>
            <h3>Внимание</h3>
            <a class="blog-title" href="#">Набор в секцию борьбы Самбо и Универсального боя.</a>
            <p class="meta">20 Sep 2024 </p>
            <p>Спортивный клуб "Пересвет" осуществляет набор мальчиков и девочек от 5 до 10 лет  </p>
            <a class="read-more" href="#">Читать &raquo;</a>
        </div>
        <!--end frontpage-sidebar-->
    </div>
    <!--end frontpage-main-->
    <div id="footer">
        <p class="left_text_3">Подписывайтесь на нас в соцсетях:</p>
        <a href="https://vk.com"><img src="images/castle.png" alt="Registr"></a>
        <a href="https://vk.com/knife62"><img src="images/vk.png" alt="VKontakte"></a>
        <a href="https://web.telegram.org/a/" id="myLink"><img src="images/telegram.png" alt="Telega"></a>
        <p class="copyright">Copyright &copy; <a href="#">Дядя Ваня</a> </p>
        <script>
        document.querySelector('#myLink').addEventListener('click', function(event) {
            event.preventDefault();
            const newWindow = window.open("", "newWindow", "width=400,height=100,top=100,left=100");
            newWindow.document.write("<p>На данный момент страница находится в разработке</p>");
        });
    </script>
    </div>
    <!--end footer-->
</div>
<!--end wrap-->
</body>
<div class="cache-images"><img src="images/red-button-bg.png" width="0" height="0" alt="" /><img
        src="images/black-button-bg.png" width="0" height="0" alt="" /></div>
<!--end cache-images-->

</html>